<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>AppRegistroAcidente</title>
</head>  
<body>
	
	<h1>Cadastro de Usuário</h1>
	<form method= "post">
		Nome: <input type="text" value="" name="nome"/>
		CPF: <input type="text" value="" name="cpf"/>
		Endereço: <input type="text" value="" name="endereco"/>
		Telefone: <input type="text" value="" name="telefone"/>
		Email: <input type="text" value="" name="email"/>
		Usuário: <input type="text" value="" name="usuario"/>
		Senha: <input type="text" value="" name="senha"/>
		
		<button type="submit">Salvar</button>
	
		
	</form>
	
</body> 
</html>

