<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Login de Usuário</title>
</head>
<body>
    <h1>Login de Usuário</h1>
    <form method="post" th:action="@{/login}">
        <div>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" required />
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required />
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
