<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro de Parte Envolvida</title>
</head>
<body>

<h1>Cadastro de Parte Envolvida</h1>
<form method="post" th:action="@{/parteenvolvida}">
    <input type="hidden" name="cidadaoId" th:value="${cidadaoId}"/> <!-- Removido o prefixo "th:" do atributo "name" -->
    Tipo de Participação: <input type="text" name="tipoParticipacao" required/>
    
    <!-- Campos do Veículo -->
    Placa: <input type="text" name="veiculo.placa" required/>
    Modelo: <input type="text" name="veiculo.modelo" required/>
    Marca: <input type="text" name="veiculo.marca" required/>
    Renavam: <input type="text" name="veiculo.renavam" required/>

    <button type="submit">Salvar</button>
</form>

</body>
</html>
