<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro de Parte Envolvida</title>
</head>
<body>

<h1>Cadastro de Parte Envolvida</h1>
<form method="post" th:action="@{/parteenvolvida}">
    <input type="hidden" name="cidadaoId" th:value="${cidadaoId}"/> <!-- Removido o prefixo "th:" do atributo "name" -->
    Nome: <input type="text" name="nome" required/>
    CPF: <input type="text" name="cpf" required/>
    Tipo de Participação: <input type="text" name="tipoParticipacao" required/>

    <button type="submit">Salvar</button>
</form>

</body>
</html>
