<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>AppRegistroAcidente</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../../resources/static/materialize-v1.0.0/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>  
<body>
	
	<h1>Sistema de Registro e Gerenciamento de Acidentes</h1>
	<button><a href="/cadastroCidadao" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastro de Usuário</a></button>
	<button><a href = "/login" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Login de Usuário</a></button>
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="../../resources/static/materialize-v1.0.0/materialize/js/materialize.min.js"></script>
	
</body> 
</html>